# Kunci dan Rahasia
service-account-key.json
.env
.env.local

# Dependensi Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.DS_Store
Thumbs.db

# Abaikan file user database yang di-generate
data/users.json
data/users.json.backup
# Anda bisa menambahkan pola lain untuk data dinamis
data/*.tmp
